{% extends 'home.html.twig' %}

{% block title %}Signaler la discussion{% endblock %}

{% block body %}
    <h1>Signaler la discussion {{ discussion.iddis }}</h1>

    <form method="post">
        {{ form(form) }}
        <button type="submit">Signaler</button>
    </form>
{% endblock %}
