
{% extends 'Hase.html.twig' %}

{% block title %}Display Forums{% endblock %}

{% block body %}
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            {{form(f)}}
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->
{% endblock %}